@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #0F499A;
}
.wrapper{
    width: 420px;
    background: #051833;
    color: #FFF;
    padding: 30px 40px;

}
.wrapper h1{
    font-size: 35px;
    text-align: center;
}
.wrapper .input-box{
    width: 100%;
    height: 50px;
    margin: 0;
    padding-top: 10px;
}

.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid #FFF;
    border-radius: 10px;
    padding: 20px 45px 20px 20px;
}
.input-box input::placeholder{
    color: #FFF;
}
.radio-btn{
    padding-left: 20px;
    padding-top: 20px;
}

.birthday{
    padding-top: 10px;
    padding-left: 20px;
    padding-bottom: 20px;
}
.wrapper .btn{
    width: 100%;
    height: 45px;
    background: skyblue;
    border: none;
    outline: none;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 600; 

}
